[client]
socket=/var/tmp/mysql.sock

[mysql.server]
user=mysql

[mysqld]
datadir=/ha_shared/mysql
tmpdir=/var/lib/mysql/tmp
socket=/var/tmp/mysql.sock
pid_file=/var/run/mariadb/mysqld.pid
log_error=/var/log/mysql/mysqld.log
slow_query_log_file=/var/log/mysql/slow-query.log
slow_query_log=1
long_query_time=10
log_queries_not_using_indexes=OFF

character_set_server=utf8
collation_server=utf8_unicode_ci

sql_mode=NO_ENGINE_SUBSTITUTION

!includedir /etc/my.cnf.d/
